#templatemo_content .scroll .t_title{
	color: #d4fb08;
    background: #1b6667;
    padding: 10px 0px 10px 10px;
    font-size: 20px;
    font-family: 微软雅黑;
}
#home .jbxx a{
	color:#e0d4e0;
	font-size: 20px;
}
